*,
html,
body {
    padding: 0;
    margin: 0;
    color: var(--text);
    transition: color, background-color 0.3s;
}
main {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--bg);
}

/* Svgs */
svg.sun {
    circle {
        fill: var(--main);
        stroke: var(--text);
    }
    .rays {
    }
}

ul,
li {
    list-style: none;
}

a,
button *[button],
*[type='button'] {
    cursor: pointer;
}

*[disabled],
*:disabled {
    filter: brightness(50%);
    cursor: not-allowed;
}
