.logo {
    &:hover .shp3 {
        opacity: 0;
    }
    .shp1 {
        fill: #242428;
    }
    .shp2 {
        fill: #393e5b;
    }
    .shp3 {
        stroke: #242428;
        stroke-width: 50;
        transition: opacity 1s;
    }
}
