.nav {
    background-color: var(--main);
    display: flex;
    overflow-y: hidden;
    * svg,
    svg {
        stroke: black;
    }
    .menu {
        display: none;
    }
    justify-content: center;
    align-content: center;
    align-items: center;
    .nav-logo {
        min-width: 5rem;
        height: 5rem;

        align-self: left;
    }
    .nav-items {
        display: flex;
        justify-content: center;
        align-content: center;
        align-self: center;
        span {
            display: none;
        }
    }
}

.nav-top {
    top: 0;
    left: 0;
    align-items: center;
    flex-direction: row;
    min-width: 100vw;
    height: 5rem;
}

.nav-bottom {
    flex-direction: row;
    min-width: 100vw;
    height: 5em;
}
.nav-dynamic {
    min-width: 100vw;
    height: 5em;
    transition: bottom, top 1s;
}

@media screen and (max-width: 900px) {
    .nav-dynamic {
        svg {
            height: 3rem;
            width: 3rem;
        }
        bottom: 0;
        left: 0;
        .menu {
            display: block;
        }

        // justify-content: space-evenly;
        form.searchbar {
            input {
                display: none;
            }
            button {
                background-color: inherit;
            }
        }
        .nav-items {
            // background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b2/Hamburger_icon.svg);
            flex-direction: column;
            display: none;
            position: absolute;
            width: 100vw;
            height: calc(100vh - 5rem);
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
        }
        .nav-items.open {
            background-color: red;
            display: block;
            .nav-item {
                display: block;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .nav-dynamic {
        bottom: 100;
        left: 0;
    }
}
